<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj-3</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-menu" style="background: #eee; padding: 10px 400px;">
                <a href="#">Django MAIN NOTES</a>&nbsp;
                <a href="#">Django MAIN NOTES</a>&nbsp;
                <a href="#">Django MAIN NOTES</a>&nbsp;
                <a href="#">Django MAIN NOTES</a>&nbsp;
            </div>
        </div>
    </nav>
    <h1>
        hello sipalaya
    </h1>
    
</body>
</html>